$base-font-size: 16px !default;

@function rem-calc($value, $base-value: $base-font-size) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) {
		$value: 0;
	} // Turn 0rem into 0
	@return $value;
}
@function rem($value) {
	$sizes: null;
	@if length($value) > 1 {
		@if $sizes == null{
			$sizes: #{rem-calc($size)};
		} @else {
			$sizes: $sizes #{rem-calc($size)}
		}
	} @else {
		$sizes: rem-calc($value);
	}
	@return $sizes;
}

@function px-calc($value, $base-value: $base-font-size) {
	$value: strip-unit($value) * (strip-unit($base-value) * 1px);
	@if ($value == 0px) {
		$value: 0;
	} // Turn 0px into 0px
	@return $value;
}

@function px($value) {
	$sizes: null;
	@if length($value) > 1 {
		@each $size in $value {
			@if $sizes == null{
				$sizes: #{px-calc($size)};
			} @else {
				$sizes: $sizes #{px-calc($size)}
			}
		}
	} @else {
		$sizes: px-calc($value);
	}
	@return $sizes;
}
